<div class="padding" ng-controller="NavDemoCtrl">

  <super-navbar>
    <super-navbar-title>
      Navigation!
    </super-navbar-title>
  </super-navbar>

  <h2>A New View</h2>


  <super-navigate view-id="detail-view">
    <button class="button button-block button-positive">Open detail view</button>
  </super-navigate>

  <super-navigate view-id="example#detail-view">
    <button class="button button-block button-assertive">Without preloading</button>
  </super-navigate>
  
  <br />
  <br />
  <br />
  
  <h4>{{message}}</h4>  
  <button class="button button-block button-positive" ng-click="showMessage()">Display message</button>


</div>